<h1>Evento</h1>
<input id="datepicker">
<script>$(function() {
  $("#datepicker").kendoDatePicker();
})</script>
<div id="main_event">

    <%= link_to(@main_event.image, "/events/#{@main_event.id}") %>

</div>

<div id="other_events">
    <% @events.each do |e| %>
        <%= link_to(image_tag(e.image), event_path(e.id)) %>
    <% end %>
</div>

<div id="today">
  <a href="/today">What's On Today</a>
</div>

<div id="this_week">
  <a href="/this_week">This Week</a>
</div>

<div id="this_month">
  <a href="/this_month">This Month</a>
</div>
