<h1>Evento</h1>

<div id="main_event">
    <%= link_to(@main_event.image, "/events/#{@main_event.id}") %>
</div>

<div id="other_events">
    <% @events.each do |e| %>
      <li>
        <%= link_to(image_tag(e.image, style: "width: 200px"), event_path(e.id)) %>
        <hr>
      </li>
    <% end %>
</div>

<div id="today">
  <a href="/today">What's On Today</a>
</div>

<div id="this_week">
  <a href="/this_week">This Week</a>
</div>

<div id="this_month">
  <a href="/this_month">This Month</a>
</div>
