<h1>Evento</h1>

<div id="main_event">

  <h3>
    <%= @main_event.name %>
  </h3>

  <p>
    <%= @main_event.description %>
  </p>
</div>

<div id="other_events">
  <ul>
    <% @events.each do |e| %>
      <li>
        <%= link_to(e.name, event_path(e.id)) %>
      </li>
    <% end %>
  </ul>
</div>

<div id="today">
  <a href="/today">What's On Today</a>
</div>

<div id="next_week">
  <a href="/next_week">Next Week</a>
</div>

<div id="next_month">
  <a href="/next_month">Next Month</a>
</div>
