<h1>Pages#near_me</h1>
<p>Find me in app/views/pages/near_me.html.erb</p>


<!-- I want this page to show events located in a range of 5km from my current position. -->
<!-- read current position from geolocator
  iterate through all the events.location
    return the event in a 5 km range -->

<h3><%= @nearby %></h3>
<!-- add to user model the geocoder details
     then geocode based on IP address
     have a look -->
