<h3>Search results</h3>

<div class="row">
  <% @events.flatten.each do |e| %>
  <div class="col-xs-6 col-md-4">
      <%= link_to(image_tag(e.image, style: "width: 300px; height: 200px; margin: 5px;"), event_path(e.id)) %>
  </div>
  <% end %>
</div>
</section>
