<h1>This Month's Events</h1>

<div class="row">
  <% @month_events.each do |m| %>
    <div class="col-xs-6 col-md-4">
      <%= link_to(image_tag(m.image, style: "width: 300px; height: 200px; margin: 5px;", class: "img-responsive"), event_path(m.id) ) %>
    </div>
  <% end %>
  <hr>
</div>
