<h3>This Month's Events</h3>

<div class="row">
    <% @month_events.each do |m| %>
      <div class="col-md-3">
        <%= link_to(image_tag(m.image), event_path(m.id) ) %>
      </div>
    <% end %>
</div>
