<h1>This Week <br>
    <small>Find the best things to do over the next seven days</small>
</h1>


<div class="container">
    <div class="row">
      <% @week_events.each do |w| %>
        <div class="col-sm-4">
            <div class="col-sm-12 thumbnail text-center img-responsive">
                <%= link_to(image_tag(w.image, style: "width: 300px; height: 200px; margin-bottom: 20px; box-shadow: 5px 5px 10px rgba(0, 0, 0, .3)", class: "img-responsive"), event_path(w.id) ) %>
                <div class="caption">
                    <h4><strong><%= link_to(w.name, event_path(w), style: "color: #fff; text-shadow: 5px 5px 5px black;") %></strong></h4>
                </div>
            </div>
        </div>
      <% end %>
    </div>
</div>
